@import "../../services/variables.scss";
@import "../../services/smart-grid.scss";

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;

  padding: 2rem;
  &__form {
    @include col();
    @include size(4);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .form {
    &__input-group {
      @include row-flex();
      width: 100%;
    }
    &__btn {
      @include size(2);
      border: none;
      border-radius: 1rem 0 0 1rem;
      outline: none;
      padding: 0.89rem;
      color: #86888e;
      background-color: #2d2e35;
    }

    &__input {
      @include size(10);
      border: none;
      border-radius: 0 1rem 1rem 0;
      outline: none;
      padding: 0.6rem;
      color: #86888e;
      background-color: rgba(45, 46, 53, 0.9);
    }
  }

  .auth {
    &__btn {
      padding: 1rem;
      border: none;
      border-radius: 2rem;
      outline: none;
      color: #86888e;
      background-color: #2d2e35;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
