@import "../../services/smart-grid.scss";
@import "../../services/variables.scss";

.list {
  position: relative;
  padding: 3rem 0;
  margin-top: 5rem;

  &__row {
    @include row-flex();
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;
  }

  .grid__row {
    @include row-flex();
    margin-top: 2rem;
    align-items: stretch;

    @include xss-block {
      justify-content: center;
    }
  }

  .grid__item {
    margin-bottom: 3rem;
    @include col();
    @include size(2);
    @include size-md(3);
    @include size-sm(4);
    @include size-xs(6);
    @include size-xss(8);
  }

  .list__item {
    margin-bottom: 3rem;
    @include col();
    @include size(8);
    @include size-md(8);
    @include size-sm(10);
    @include size-xs(12);
    @include size-xss(12);
  }

  .buttons {
    position: absolute;
    top: 0%;
    left: 0%;
    .btn {
      border: 0.1rem solid $disable-text;
      padding: 0.6rem;
      outline: none;
      color: $disable-text;
      background-color: $light-grey;

      &--active {
        color: $third-color;
        background-color: rgba(80, 162, 250, 0.2);
        border: 0.1rem solid $third-color;
        box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5),
          1px 1px 5px rgba(255, 255, 255, 1);
      }

      &:hover {
        cursor: pointer;
        color: lighten($color: $third-color, $amount: 7);
        background-color: lighten($color: rgba(80, 162, 250, 0.2), $amount: 5);
      }
    }
  }
}
